# Byte-code files
__pycache__
*.pyc
*.pyo
*.pyd

# Virtual environment
venv
env
.env
.venv

# Development environment files and logs
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Version control
.git
.gitignore

# IDE-specific files (examples)
.idea
.vscode

# Build artifacts
dist
build
*.egg-info/